body, html {
    height: 70%;
    background-image: url("../img/fondo_hospital.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-sing {
    background-color: #ffffff;
    opacity: 0.90;
    padding: 0 0px;
    width: 130%;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px #ffffff;
    border-radius: 20px;
}

.input[text="text"], [text="password"]{
    padding-left: 45px;
}
